<%= link_to("<-- Back to Book Collection", root_path, :class => 'back-link') %>

<div class="book delete">
  <h2>Delete Book</h2>

  <%= form_for(@book, :url => book_path(@book), :method => 'delete') do |f| %>

    <p>You are permanently deleting this book. Are you sure?</p>

    <p class="reference-name"><%= f.object.title %></p>

    <div class="form-buttons">
      <%= f.submit("Delete Book") %>
    </div>

  <% end %>
</div>
